@import "tailwindcss";
@plugin "daisyui";

*{
  /* background-color: #fff; */
}

body {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
  color: black;
}

h1 {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
}
